priority 0

snippet main "public static void main(String[] args)"
class `vim_snippets#Filename('', 'name')`
{
	public static void main(String[] args)
	{
		${0}
	}
}
endsnippet

snippet sysout "System.out.println();"
System.out.println(${0});
endsnippet
snippet println "System.out.println();"
System.out.println(${0});
endsnippet
snippet print "System.out.print();"
System.out.print(${0});
endsnippet
