priority 0

snippet #! "sh-bang!"
#!/bin/python3
${0}
endsnippet


snippet #!angr "angr's sh-bang!"
#!/bin/env -S PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python python3
${0}
endsnippet

snippet pwn "import pwn"
from pwn import *
${0}
endsnippet

snippet angr "import angr"
from angr import *
${0}
endsnippet

snippet z3 "import z3"
from z3 import *
${0}
endsnippet
